{% extends "base.html" %}
{% load static %}

{% block content %}

			<section>
				<h1>Über freie.it</h1>
				<div class="txt">
					<h2>Motivation</h2>
					<p>freie.it ist ein gemeinnütziger Verein nach österreichischem Recht. Unser Ziel ist es Menschen, die <a href="https://fsfe.org/about/basics/freesoftware.html">Freie Software</a> einsetzen (möchten), professionelle Unterstützung bequem zugänglich zu machen.</p> 
					<p>Wir setzen uns seit vielen Jahren für Freie Software ein. Dabei vermissten wir bisher eine einfache Möglichkeit Fachkräfte zu finden, die auf Freie Software spezialisiert sind. Selbst bei Ratlosigkleit bei den ersten Schritten mit noch unbekannter Software gab es bisher meistens nur drei Möglichkeiten weiter zu kommen:</p>
					<ul>
						<li>im Bekanntenkreis nach mehr oder weniger kundigen Menschen suchen,</li>
						<li>Selbsthilfegruppen recherchieren, und dort um Hilfe bitten,</li>
						<li>oder sich selbst das benötigte Wissen über Userforen und die Software-Dokumentation anzueignen.</li>
					</ul>
					<p>Viele Menschen kennen weder kundige Personen, noch haben sie Zeit und Ansporn sich das zur Selbsthilfe nötige Wissen zu erarbeiten. Ihnen war es bisher kaum möglich auf ihnen bisher unbekannte Software umzusteigen. Die fehlende Verfügbarkeit geeigneter Unterstützung hinderte sie daran sich aus der Abhängigkeit von unfreien Computersystemen zu befreien. Um dieser Gruppe die erste der vier Software-Freiheiten (die Anwendung) zugänglich zu machen, haben wir freie.it ins Leben gerufen.</p>
				</div>
				<div class="txt">
					<h2>Angebot</h2>
					<p>Auf freie.it kannst du mit Hilfe unserer Schlagwortsuche geeignete Expertinnen und Experten für jene Aspekte rund um Freie Software finden, bei denen du dir Unterstützung wünschst.</p>
					<p>Fachkräfte aus der Freien Software Bewegung bieten hier ihr Wissen als Dienstleistung an. Auf freie.it kann von Einschulungen über Support bis hin zu Serviceverträgen alles angeboten werden. Auch Handelsunternehmen für Computer mit vorinstallierter Freier Software sind in unserem Verzeichnis erlaubt. Selbst Menschen, die für individuelle Entwicklungsaufträge zur Verfügung stehen, sind über freie.it auffindbar.</p>
					<p>Ganz egal ob du eine Homepage brauchst oder du eine Person suchst, die deine (freie) Buchhaltungssoftware adaptiert: für all das - und viel mehr - kannst du auf freie.it Fachkräfte finden. Ob einmalige Beratung oder Supportvertrag über einen langen Zeitraum, ob Ausführung vor Ort, telefonisch oder via Remote-Desktop: freie.it macht dir Fachkräfte für diese Aufgaben über eine einfache Schlagwortsuche zugänglich.</p>
					<p>Wir als Verein bieten keinerlei Dienstleistungen an. Wir haben keinen Einfluss darauf, wie Fachkräfte Dienstleistungen verrechnen. Auch ehrenamtliche Hilfe kann auf freie.it angeboten werden.</p>
					<p>Die Funktionen von freie.it werden laufend verbessert. Wenn du Anregungen oder Wünsche hast, <a href="mailto:info@freie.it">schreib uns bitte</a>!</p>
				</div>
			</section>
{% endblock content %}
