{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" type="image/x-icon" href="{% static "img/fit/fit-icon.png" %}"/>
    <title>{% trans "freie.it – Support für Freie Software finden" %}</title>
    <meta name="description" content="{% trans "Hier finden Sie Support für Freie Software" %}"/>
    <meta name="keywords" lang="de" content="{% trans "Freie Software Support Hilfe Experten Open Source FOSS FLOSS Endanwender privat vor Ort Besuch" %}"/>
    <!--[if lt IE 9]>
      <script language="JavaScript">
        var e = ("abbr,article,aside,audio,canvas,datalist,details,figure,footer,header,hgroup,mark,menu,meter,nav,output,progress,section,time,video").split(',');
        for (var i = 0; i < e.length; i++) {
          document.createElement(e[i]);
        }
      </script>
    <![endif]-->
    <link rel="stylesheet" href="{% static "fit.css" %}"/>

{% block html_header %}{% endblock html_header %}
  </head>

  <body>
    <article>
      <header>
        <div class="logo">
	  <a href="/">
	    <img src="{% static "img/fit/logo1.png" %}" 
		 alt="{% trans "freie.it: Freie Software Support" %}"/>
	  </a>
	</div>
	{% block header %}{% endblock header %}
      </header>

      {% block content %}
      {% endblock content %}
		
      <footer class="start">
        {% block footer %}
        
	<div>
	  <a href="/about">{% trans "Über freie.it" %}</a>
	  <a href="/tipps">{% trans "Tipps &amp; Tricks" %}</a>
	  <a href="/dienste">{% trans "Dienste anbieten" %}</a>
	  <a target="_blank" href="http://fsfe.org/about/basics/freesoftware.de.html">
	    {% trans "Definition: Freie Software" %}
	  </a>
	  <a href="/statuten">{% trans "Statuten" %}</a>
	  <a href="/impressum">{% trans "Impressum" %}</a>
	  <a href="mailto:info@freie.it">{% trans "Rückmeldung / Kontakt" %}</a>
	</div>

        <p id="dat">{% trans "Zuletzt aktualisiert am: "%}<time datetime="2013-01-26">26. Jänner 2013</time></p>
        <p><a href="http://validator.w3.org/check?uri=referer" title="{% trans "Validierung des HTML5 Web-Standards" %}" lang="en" hreflang="en"><abbr title="Extenisble Hypertext Markup Language, Version 5">HTML5</abbr></a> &bull; <a href="http://jigsaw.w3.org/css-validator/check/referer" title="{% trans "Validierung der Design-Auszeichnungssprache-Standards" %}" lang="en" hreflang="en"><abbr title="Cascading Stylesheets, Version 3">CSS3</abbr></a> &bull; <a href="http://www.w3.org/WAI/WCAG20/glance/" title="{% trans "Erklärung von Web-Zugansoptimierungsrichtlinien" %}" lang="en" hreflang="en"><abbr title="Web Content Accessibility Guidelines, Version 2">WCAG 2</abbr></a></p>
        {% endblock footer %}
      </footer>
    </article>
  </body>
</html>
