{% extends "base.html" %}
{% load static %}

{% block content %}

			<section>
				<header>
					<h1>Dienste auf freie.it anbieten</h1>
				</header>
				<p>Grundsätzlich steht es allen Menschen offen Ihre Dienste auf freie.it anzubieten. Der Verein nimmt allerdings nur Menschen auf, die sich zur folgenden Selbstverpflichtung bekennen:</p>
				<div class="txt">
					<header>
						<h2>Kurzfassung</h2>
					</header>
					<ul>
						<li>Dienstleistungen im Umfeld <a href="http://fsfe.org/about/basics/freesoftware.de.html">Freier Software</a> (lt. FSFE) auf eigene Rechnung / Gefahr</li>
						<li>Support, Beratung, Individualprogrammierung per Remote, vor Ort oder telefonisch</li>
						<li>Angebot kostenlos einstellen</li>
						<li>Bugs bitte Upstream/Downstream melden</li>
						<li>Keine anonymen Profile</li>
						<li>Der Verein übernimmt keine Haftung und bietet keine anderen Dienstleistungen als die Infrastruktur der freie.it Plattform an.</li>
					</ul>
				</div>
				<div class="txt">
					<header>
						<h2>Selbstverpflichtung</h2>
					</header>
					<p>Mit der Eintragung als Anbieterin oder Anbieter in das freie.it Webverzeichnis erklären Sie Dienstleistungen auf eigene Rechnung und Gefahr im Umfeld von Freier Software (nach der <a href="http://fsfe.org/about/basics/freesoftware.de.html">Definition der FSFE</a>) anzubieten. Die angebotenen Dienstleistungen sollen der Förderung, Vereinfachung und Unterstützung der alltäglichen Nutzung von freier Software dienen. Teil dieser Förderung ist auch, je nach persönlichen Möglichkeiten, Probleme und Bugs den entsprechenden Projekten zu melden und an der Lösung aktiv mitzuwirken.</p>
					<p>Pseudonyme sind nicht zulässig, eine Angabe von Namen und Adresse ist für alle Anbieterinnen und Anbieter verpflichtend. Das online Angebot der freie.it Plattform ist bis auf Widerruf kostenlos. Es ist dafür nicht erforderlich Mitglied des Vereins freie.it zu sein. Der Verein kann jederzeit Profile löschen bzw. Personen von der Nutzung des Services ausschließen. Sie erklären die notwendigen Urheberrechte für die von Ihnen eingestellten Materialien zu besitzen und das Marken- und Warenzeichenrecht zu beachten. Preise sind generell inklusive Umsatzsteuer anzugeben.</p>
					<p>Der Verein freie.it übernimmt keinerlei Haftung für die angebotenen Dienstleistungen und bietet solche auch selst nicht an. Der Verein übernimmt keinerlei Gewähr für die Aktualität, Korrektheit, Vollständigkeit oder Qualität der bereitgestellten Informationen. Anbieterinnen und Anbieter sind selbst für die Korrektheit ihrer Angaben und für ihre gewerberechtlichen, steuerrechtlichen etc. Angelegenheiten verantwortlich. Haftungsansprüche gegen den Verein, welche sich auf Schäden materieller oder ideeller Art beziehen, die durch die Nutzung oder Nichtnutzung der dargebotenen Informationen bzw. durch die Nutzung fehlerhafter und unvollständiger Informationen verursacht wurden, sind grundsätzlich ausgeschlossen, sofern seitens des Vereins kein nachweislich vorsätzliches oder grob fahrlässiges Verschulden vorliegt. Diese Bedingungen sind jederzeit vom Verein freie.it mit einer Frist von 2 Monaten ab Ankündigung änderbar.</p>
				</div>
				<p>Wenn Sie bereit sind diese Erklärung zu unterschrieben und auf freie.it gelistet werden möchten, wenden Sie sich bitte an: <a href="mailto:info@freie.it">info@freie.it</a>.</p>
			</section>
{% endblock content %}
