{% extends "base.html" %}
{% load static %}
{% load url from future %}


{% block content %}

<section>

    <h2>{{ num_experts }} ExpertIn{{ experts|length|pluralize:"nen" }} {% if tag %}mit Schlagwort "{{ tag }}"{% endif %} gefunden</h2>
  <header>
    <form action="#" enctype="text/plain" method="post">
      <input type="text" name="suche" placeholder="Ergebnis über Schlagworte einschränken" value=""/>
      <input type="submit" value="&gt;"/>
    </form>
  </header>

  {% for e in page %}
  <div>
    <div>
      <img src="{{ e.image.url }}" alt="Foto von {{ e }}"/>
      <table>
        <tr>
          <th>Aufträge</th>
          <td>23</td>
        </tr>
        <tr>
          <th>Wertung</th>
          <td>+32</td>
        </tr>
      </table>
    </div>
    <header>
      <h2><a href="{% url "freieit.views.expert.show" e.user.username %}" title="E-Mail senden">{{ e }}</a> {{ e.phone }}</h2>
    </header>
    <dl>
      <dt>Angebot</dt>
      <dd><strong>{{e.services}}</strong></dd>
      <dt>Dienstort</dt>
      <dd>{{e.location}}</dd>
      <dt>Zeit</dt>
      <dd>{{e.time}}</dd>
      <dt>Kosten</dt>
      <dd>{{e.charges}}</dd>
      <dt>Schlagworte</dt>
      <dd>{% for tag in e.keywords.all %}
      <a href=/tag/{{ tag.slug }}>{{ tag }}</a> 
      {% endfor %}</dd>
    </dl>
  </div>

  {% empty %}
    No experts found
    {% comment %}
      TODO: do some styling
    {% endcomment %}
  {% endfor %}

  <nav>
    {% if page.has_previous %}
      <a href="{% url "freieit.views.experts.show" page.previous_page_number %}">&laquo;</a>
    {% endif %}
    Seite {{ page.number }}/{{ page.paginator.num_pages }}
    {% if page.has_next %}
      <a href="{% url "freieit.views.experts.show" page.next_page_number %}">&raquo;</a>
    {% endif %}
  </nav>

</section>

{% endblock content %}
