{% extends "base.html" %}
{% load static %}

{% block content %}

			<section>
				<header>
					<h1>Impressum</h1>
				</header>
				<div class="txt">
					<header>
						<h2>Kontaktdaten</h2>
					</header>
					<p>freie.it - Verein zur Förderung Freier Software<br/>
						Scherzergasse 14/7<br/>
						1020 Wien<br/>
						<a href="mailto:info@freie.it">info@freie.it</a><br/>
						ZVR-Zahl: 568199034<br/>
						DVR Nummer: XXXXXXX</p>
				</div>
				<div class="txt">
					<header>
						<h2>Haftungsausschluß</h2>
					</header>
					<p>Der Verein freie.it übernimmt keinerlei Haftung für die angebotenen Dienstleistungen und bietet solche auch selbst nicht an. Der Verein freie.it übernimmt keinerlei Gewähr für die Aktualität, Korrektheit, Vollständigkeit oder Qualität der bereitgestellten Informationen.</p>
					<p>Haftungsansprüche gegen den Verein, welche sich auf Schäden materieller oder ideeller Art beziehen, die durch die Nutzung oder Nichtnutzung der angebotenen Informationen bzw. durch die Nutzung fehlerhafter und unvollständiger Informationen verursacht wurden, sind grundsätzlich ausgeschlossen, sofern seitens des Vereins kein nachweislich vorsätzliches oder grob fahrlässiges Verschulden vorliegt. Die auf unserer Seite eingetragenen Dienstleisterinnen und Dienstleister sind für ihre gewerberechtlichen, steuerrechtlichen etc. Angelegenheiten selbst verantwortlich.</p>
				</div>
				<div class="txt">
					<header>
						<h2>Eingesetzte Software</h2>
					</header>
					<p>Für die Umsetzung dieses Webprojekts wurde folgende Freie Software eingesetzt:</p>
					<ul>
						<li><a href="http://www.gnu.org/software/emacs/">GNU Emacs</a> und <a href="http://projects.gnome.org/gedit/">gedit</a> für die Bearbeitung der Rohtexte und des Quellcodes</li>
						<li><a href="http://www.inkscape.org/">Inkscape</a> für die Gestaltung der Layouts</li>
						<li><a href="http://www.gimp.org/">Gimp</a> für die Bearbeitung des Bildmaterials</li>
						<li><a href="http://git-scm.com/">Git</a> und <a href="http://mercurial.selenic.com/">Mercurial</a> für Versionsmanagement im Entwicklungsteam</li>
						<li><a href="https://www.djangoproject.com/">Django</a> für die Umsetzung der Webseite</li>
						<li><a href="http://www.python.org/">Python</a> als Programmiersprache</li>
						<li><a href="http://www.postgresql.org/">PostreSQL</a> als Datenbanksystem</li>
					</ul>
					<p>Als Betriebssysteme wurden von unseren Teammitgliedern verschiedene GNU-Linux Distributionen eingesetzt:</p>
					<ul>
						<li><a href="http://www.debian.org/">Debian</a></li>
						<li><a href="http://cdimage.ubuntu.com/lubuntu/daily-live/current/">Lubuntu</a></li>
						<li><a href="https://www.archlinux.org/">Arch Linux</a></li>
						<li>... [bitte ergänzen]</li>
					</ul>
					<p>Dieses Webprojekt wurde mit Bedacht auf offene Standards erstellt. Falls Sie Inkompatibilitäten oder Darstellungsprobleme bemerken, bitten wir um eine möglichst aufklärende Mitteilung, damit wir einen völlig standardkonformen Zustand herstellen können. Allgemein freuen wir uns über Rückmeldungen und Anregungungen zur Verbesserung des Projekts freie.it.</p>
				</div>
			</section>
{% endblock content %}
