{% extends "base.html" %}
{% load static %}


{% block content %}

<section>

  <h2>Anmelden</h2>

  <div>

    {% if login_error %}
      Benutzername und Passwort stimmen nicht überein. Bitte versuche es erneut.<br /><br />
    {% endif %}

    <form method="post" action="{% url freieit.views.login.show %}">
      {% csrf_token %}
      Benutzername: <input name="username"><br />
      Passwort: <input type="password" name="password"><br />
      <input type="submit" value="anmelden">
    </form>
    
    {% if INVITE_ONLY %}
        Um einen neuen Account anzulegen benötigst du die Einladung eines Mitglieds.
    {% else %}
        Falls du noch kein Benutzerkonto hast kannst du dich <a href="/accounts/register">hier registieren</a>.
    {% endif %}
  </div>

</section>

{% endblock content %}

