{% extends "base.html" %}
{% load static %}

{% block html_header %}
<link rel="alternate" type="application/rss+xml"
   title="RSS" href="{% url freieit.views.map.rss %}" />
{% endblock html_header %}

{% block content %}

<section>

  <h2>Map</h2>

  <div class="the_expert_map_super_div">
    <div id="the_expert_map"></div>
  </div>

  <script type="text/javascript">
    function init_the_expert_map(){

      map = new OpenLayers.Map('the_expert_map',
        {controls:[
          new OpenLayers.Control.Attribution(),
          new OpenLayers.Control.KeyboardDefaults(),
          new OpenLayers.Control.Navigation(
                    {dragPanOptions:{enableKinetic:true}}),
          new OpenLayers.Control.PanZoom()
        ]}
      );
      map.addLayer( new OpenLayers.Layer.OSM('osm') );
      map.setCenter(
        new OpenLayers.LonLat(12.7,47.7).transform(
          new OpenLayers.Projection("EPSG:4326"),
            map.getProjectionObject()
        ), 6
      );

      map.addLayer(new OpenLayers.Layer.GeoRSS('georss','{% url freieit.views.map.rss %}',
        {
          icon:new OpenLayers.Icon("{% static "img/south-mini.png" %}")
        }
      ));

    }

    init_the_expert_map();

  </script>


</section>

{% endblock content %}



