{% extends "base.html" %}
{% load static %}

{% block content %}

			<section>
				<header>
					<hgroup>
						<h1>Statuten</h1>
						<h2 style="font-weight:normal;font-style:italic;">freie.it &ndash; Verein zur Förderung Freier Software</h2>
					</hgroup>
				</header>
				<ul style="list-style-type:none;">
					<li><a href="#p0">Präambel</a></li>
					<li><a href="#p1">§ 1 Name, Sitz und Wirkungsbereich</a></li>
					<li><a href="#p2">§ 2 Zweck</a></li>
					<li><a href="#p3">§ 3 Mittel zur Erreichung des Vereinszwecks</a></li>
					<li><a href="#p4">§ 4 Arten der Mitgliedschaft</a></li>
					<li><a href="#p5">§ 5 Erwerb und Erlöschen der Mitgliedschaft</a></li>
					<li><a href="#p6">§ 6 Rechte und Pflichten der Mitglieder</a></li>
					<li><a href="#p7">§ 7 Vereinsorgane</a></li>
					<li><a href="#p8">§ 8 Vollversammlung</a></li>
					<li><a href="#p9">§ 9 Außerordentliche Vollversammlungen</a></li>
					<li><a href="#p10">§ 10 Aufgaben der Vollversammlung</a></li>
					<li><a href="#p11">§ 11 Vorstand (Leitungsorgan)</a></li>
					<li><a href="#p12">§ 12 Aufgaben des Vorstandes</a></li>
					<li><a href="#p13">§ 13 Besondere Aufgaben einzelner Vorstandsmitglieder</a></li>
					<li><a href="#p14">§ 14 Rechnungsprüfer</a></li>
					<li><a href="#p15">§ 15 Schiedsgericht</a></li>
					<li><a href="#p16">§ 16 Auflösung des Vereins</a></li>
				</ul>
				<div class="txt">
					<header>
						<h2>Präambel</h2>
					</header>
					<p>Der besseren Lesbarkeit halber sind viele Bezeichnungen in der maskulinen Form gehalten. Soweit sie sich auf natürliche Personen beziehen, sind Frauen und Männer in gleicher Weise gemeint. Bei der Anwendung der Bezeichnungen auf bestimmte natürliche Personen ist die jeweils geschlechtsspezifische Form zu verwenden.</p>
				</div>
				<div class="txt">
					<header>
						<h2 id="p1">§ 1 Name, Sitz und Wirkungsbereich</h2>
					</header>
					<ol>
						<li>Der Verein trägt den Namen <q>freie.it - Verein zur Förderung Freier Software</q>.</li>
						<li>Der Sitz des Vereins ist Wien. Der Verein erstreckt seine Tätigkeit auf ganz Österreich.</li>
						<li>Die Errichtung von Zweigvereinen ist nicht beabsichtigt.</li>
					</ol>
				</div>
				<div class="txt">
					<header>
						<h2 id="p2">§ 2 Zweck</h2>
					</header>
					<ol>
						<li>Die Tätigkeit des Vereins ist überparteilich, gemeinnützig und nicht auf Gewinn gerichtet.</li>
						<li>Der Verein hat zum Ziel, Anwendern die Umstellung auf und den Einsatz von Freier Software (gemäß Definition der <a href="http://fsfe.org/about/basics/freesoftware.de.html">Free Software Foundation Europe</a>) zu erleichtern.</li>
					</ol>
				</div>
				<div class="txt">
					<header>
						<h2 id="p3">§ 3 Mittel zur Erreichung des Vereinszwecks</h2>
					</header>
					<ol>
						<li>Der Vereinszweck soll durch die in den Abs. 2 und 3 angeführten ideellen und materiellen Mittel erreicht werden.</li>
						<li>Als ideelle Mittel dienen insbesondere:
							<ol>
								<li>Vermittlung zwischen Informationstechnologie-Experten und Informationstechnologie-Anwendern.</li>
								<li>Informationsveranstaltungen</li>
							</ol>
						</li>
						<li>Die erforderlichen materiellen Mittel sollen aufgebracht werden durch:
							<ol>
								<li>Spenden</li>
							</ol>
						</li>
						<li>Die Mittel des Vereins dürfen nur für die in <a href="#p2">§ 2</a> angeführten Zwecke verwendet werden. Jedenfalls unzulässig sind:
							<ol>
								<li>Verwaltungsausgaben, die von den in <a href="#p2">§ 2</a> angeführten Vereinszwecken abweichen, oder</li>
								<li>Vergütungen (auch an Personen, die weder Mitglied des Vereins noch eines seiner Organe sind), die zu Lasten des Vereins marktunüblich hoch sind.</li>
							</ol>
						</li>
						<li>Mitglieder des Vereins sind grundsätzlich ehrenamtlich für den Verein tätig. Sie dürfen keine Gewinnanteile aus Vereinsmitteln erhalten. Vereinsmitglieder dürfen aus Vereinsmitteln angemessene Entgelte für erbrachte Leistungen erhalten, diese bedürfen jedoch der Genehmigung durch die Vollversammlung (vgl. <a href="#p10">§ 10</a> Abs 1 Z 4).</li>
					</ol>
				</div>
				<div class="txt">
					<header>
						<h2 id="p4">§ 4 Arten der Mitgliedschaft</h2>
					</header>
					<ol>
						<li>Die Mitglieder des Vereins gliedern sich in ordentliche Mitglieder, fördernde Mitglieder und Ehrenmitglieder.</li>
						<li>Ordentliche Mitglieder sind jene, die sich voll an der Vereinsarbeit beteiligen.</li>
						<li>Fördernde Mitglieder sind solche, die die Vereinstätigkeit vor allem durch Zahlung eines Mitgliedsbeitrages fördern.</li>
						<li>Ehrenmitglieder sind natürliche Personen, die hierzu von der Vollversammlung wegen besonderer Verdienste um den Verein ernannt werden.</li>
					</ol>
				</div>
				<div class="txt">
					<header>
						<h2 id="p5">§ 5 Erwerb und Erlöschen der Mitgliedschaft</h2>
					</header>
					<ol>
						<li>Sowohl natürliche als auch juristische Personen können ordentliche oder fördernde Mitglieder des Vereins sein. Hingegen können nur natürliche Personen zu Ehrenmitgliedern ernannt werden.</li>
						<li>Der Antrag zur Aufnahme in den Verein als ordentliches oder förderndes Mitglied muss schriftlich an den Vorstand gerichtet werden. Über die Aufnahme von ordentlichen und fördernden Mitgliedern entscheidet der Vorstand endgültig. Die Aufnahme kann ohne Angabe von Gründen verweigert werden.</li>
						<li>Die Mitgliedschaft endet:
							<ol>
								<li>durch Austritt des Mitgliedes: Der Austritt kann jederzeit mit sofortiger Wirkung schriftlich gegenüber dem Vorstand erklärt werden. Zuwendungen, die das austretende Mitglied geleistet hat, verbleiben beim Verein.</li>
								<li>durch Tod einer natürlichen Person; bei juristischen Personen durch Verlust der Rechtspersönlichkeit oder auch durch rechtskräftigen Beschluss, mit dem über deren Vermögen ein Insolvenzverfahren eröffnet oder mangels Vermögen abgewiesen wird.</li>
								<li>durch Ausschluss durch den Vorstand. Der Vorstand ist befugt, ein Mitglied wegen grober Verletzung von Mitgliedspflichten oder wegen unehrenhaften Verhaltens aus dem Verein auszuschließen. Dies gilt auch für Ehrenmitglieder. Gegen den Ausschluss steht dem Mitglied die Möglichkeit offen, binnen vier Wochen das Schiedsgericht gemäß <a href="#p15">§ 15</a> dieser Statuten anzurufen. Diese Anrufung durch das Mitglied hat bis zur Entscheidung des Schiedsgerichtes aufschiebende Wirkung.</li>
								<li>durch Nichtreagieren auf eine rechtzeitig versendete Einladung zu einer Vollversammlung.</li>
							</ol>
						</li>
					</ol>
				</div>
				<div class="txt">
					<header>
						<h2 id="p6">§ 6 Rechte und Pflichten der Mitglieder</h2>
					</header>
					<ol>
						<li>Die Mitglieder sind berechtigt, an allen Veranstaltungen des Vereins teilzunehmen und die Einrichtungen des Vereins zu nützen. Das Stimmrecht in der Vollversammlung und das aktive Wahlrecht steht jedem ordentlichen Mitglied zu (siehe auch <a href="#p8">§ 8</a> Abs 1); das passive Wahlrecht haben jedoch ausschließlich natürliche Personen.</li>
						<li>Jedes Mitglied hat das Recht auf jederzeitige Einsicht in die geltenden Statuten und die Geschäftsordnung in aktueller Fassung, beides in digitaler Form. Jedes Mitglied ist überdies berechtigt, in die Protokolle der Vollversammlung (<a href="#p8">§ 8</a>) Einsicht zu erhalten (in digitaler Form), sofern dies mit den Vorschriften des Datenschutzgesetzes in Einklang steht. 
Jedes ordentliche Mitglied ist berechtigt in alle Protokolle der Vereinsorgane Einsicht zu erhalten (in digitaler Form), sofern dies mit den Vorschriften des Datenschutzgesetzes in Einklang steht.</li>
						<li>Wenn mindestens ein Zehntel der stimmberechtigten Mitglieder dies verlangt, hat der Vorstand eine Vollversammlung einzuberufen.</li>
						<li>Die Mitglieder sind in jeder Vollversammlung vom Vorstand über die laufende Tätigkeit des Vereins und seiner Organe sowie über die finanzielle Gebarung des Vereins zu informieren.</li>
						<li>Die Mitglieder sind verpflichtet, die Interessen des Vereins nach Kräften zu fördern und alles zu unterlassen, wodurch das Ansehen, der Zweck oder der Bestand des Vereins Abbruch erleiden könnte. Sie haben die Vereinsstatuten und die Beschlüsse der Vereinsorgane zu beachten.</li>
						<li>Die von der Vollversammlung beschlossene Geschäftsordnung ist von den Mitgliedern stets einzuhalten.</li>
					</ol>
				</div>
				<div class="txt">
					<header>
						<h2 id="p7">§ 7 Vereinsorgane</h2>
					</header>
					<ol>
						<li>Organe des Vereins sind
							<ol>
								<li>die Vollversammlung (<a href="#p8">§ 8</a> bis <a href="#p10">§ 10</a>),</li>
								<li>der Vorstand (<a href="#p11">§ 11</a> bis <a href="#p13">§ 13</a>),</li>
								<li>die Rechnungsprüfer (<a href="#p14">§ 14</a>) und</li>
								<li>das Schiedsgericht (<a href="#p15">§ 15</a>).</li>
							</ol>
						</li>
					</ol>
				</div>
				<div class="txt">
					<header>
						<h2 id="p8">§ 8 Vollversammlung</h2>
					</header>
					<ol>
						<li>Die Vollversammlung ist die Mitgliederversammlung im Sinne des Vereinsgesetzes 2002. Stimmrecht in der Vollversammlung haben
							<ol>
								<li>die ordentlichen Mitglieder</li>
							</ol>
							sofern die beitragspflichtigen Mitglieder zum Zeitpunkt der Vollversammlung ihren Mitgliedsbeitrag an den Verein entrichtet haben. Eine Übertragung des Stimmrechts mit einer schriftlichen Bevollmächtigung eines anderen Vereinsmitgliedes (nur mit rechtsgültiger Unterschrift) ist zulässig.</li>
						<li>Bei der Wahl von Vereinsfunktionären kann eine gültige Stimmabgabe auch mittels OpenPGP-signiertem Email an eine Mailingliste, die allen stimmberechtigten Vereinsmitgliedern zugänglich sein muss, erfolgen. Der dabei verwendete OpenPGP-Key muss mindestens von einem zweiten Vereinsmitglied signiert sein.</li>
						<li>Eine ordentliche Vollversammlung hat jedenfalls einmal pro Kalenderjahr, und zwar spätestens im Mai, stattzufinden.</li>
						<li>Vollversammlungen sind vom Vorstand einzuberufen.</li>
						<li>Einladungen zu Vollversammlungen sind an die teilnahmeberechtigten Mitglieder unter Bekanntgabe des Ortes, der Zeit und der vorgesehenen Tagesordnung spätestens 30 Tage vor dem festgesetzten Termin schriftlich (analoger Brief oder OpenPGP-signiertes E-Mail) zu versenden.</li>
						<li>Konkrete Ergänzungen der Tagesordnung sind vorzunehmen, wenn dies mindestens fünf stimmberechtigte Mitglieder oder ein Rechnungsprüfer schriftlich (analoger Brief oder OpenPGP-signiertes Email) spätestens eine Woche vor dem jeweiligen Versammlungstermin gegenüber dem Vorstand verlangen.</li>
						<li>Die Leitung der Vollversammlung obliegt dem 1. Vorstandsmitglied, bei dessen Verhinderung dessen Stellvertreter gemäß <a href="#p11">§ 11</a> Abs 2 der Statuten (2. Vorstandsmitglied). Der Leiter der Vollversammlung wählt aus dem Kreis der anwesenden Mitglieder, vorzugsweise aus dem Kreis der Vorstandsmitglieder, den Schriftführer der Vollversammlung.</li>
						<li>Die Vollversammlung ist beschlussfähig, wenn mindestens die Hälfte der stimmberechtigten Mitglieder (bzw. deren Vertreter gemäß <a href="#p8">§ 8</a> Abs 1) anwesend ist. Ist dies nicht der Fall, so findet die Vollversammlung 15 Minuten später mit derselben Tagesordnung statt. Sie ist dann ohne Rücksicht auf die Anzahl der erschienenen Mitglieder beschlussfähig.</li>
						<li>Gültige Beschlüsse können nur zu Punkten der Tagesordnung erfolgen. Ausgenommen sind davon Anträge auf Einberufung einer außerordentlichen Vollversammlung sowie die Abwahl von Mitgliedern des Vorstands (<a href="#p11">§ 11</a> Abs 11).</li>
						<li>Beschlussfassungen erfolgen mit einfacher Stimmenmehrheit. Es zählen die abgegebenen gültigen Stimmen. Eine Stimmenthaltung ist keine gültige Stimme. Bei Stimmengleichheit gilt der Antrag als abgelehnt. Beschlüsse mit denen die Statuten des Vereins geändert oder der Verein aufgelöst werden soll, bedürfen jedoch stets einer qualifizierten Mehrheit von zwei Dritteln der abgegebenen gültigen Stimmen.</li>
						<li>Über jede Vollversammlung ist ein Protokoll zu führen, das jedenfalls alle zur Diskussion gestellten Anträge sowie das Ergebnis allfälliger Abstimmungen und Wahlen zu enthalten hat. Der Vorstand hat dieses Protokoll binnen vier Wochen nach der jeweiligen Sitzung an alle Mitglieder, die dies wünschen, in digitaler Form zu übermitteln.</li>
					</ol>
				</div>
				<div class="txt">
					<header>
						<h2 id="p9">§ 9 Außerordentliche Vollversammlungen</h2>
					</header>
					<ol>
						<li>Außerordentliche Vollversammlungen sind vom Vorstand einzuberufen, wenn dieser dies aufgrund besonderer Umstände für erforderlich erachtet.</li>
						<li>Eine außerordentliche Vollversammlung ist auch binnen zwei Monaten einzuberufen, sobald dies mindestens ein Zehntel der stimmberechtigten Vereinsmitglieder verlangt.</li>
						<li>Das Recht zur Einberufung einer außerordentlichen Vollversammlung steht auch jedem Rechnungsprüfer zu, dies im Falle von Gebarungsmängeln oder bei Gefahr für den Bestand des Vereins, wenn der Vorstand einer entsprechenden schriftlichen Aufforderung eines Rechnungsprüfers nicht binnen Monatsfrist nachkommt.</li>
						<li>Eine Einberufung einer außerordentlichen Vollversammlung durch einen Rechnungsprüfer hat auch bei Ausfall des gesamten Vorstands zu erfolgen.</li>
						<li>Die Bestimmungen des <a href="#p8">§ 8</a> sind auch für außerordentliche Vollversammlungen sinngemäß anzuwenden. Bei Ausfall des gesamten Vorstandes hat jener Rechnungsprüfer, der die außerordentliche Vollversammlung einberufen hat, diese zu leiten, bis ein neuer Vorstand gewählt worden ist.</li>
					</ol>
				</div>
				<div class="txt">
					<header>
						<h2 id="p10">§ 10 Aufgaben der Vollversammlung</h2>
					</header>
					<ol>
						<li>Der Vollversammlung sind folgende Aufgaben vorbehalten:
							<ol>
								<li>Entgegennahme und Genehmigung des Rechnungsberichtes und des Rechnungsabschlusses;</li>
								<li>Beschlussfassung über den Voranschlag;</li>
								<li>Wahl, Bestellung und Enthebung der Vorstandsmitglieder und der Rechnungsprüfer;</li>
								<li>Genehmigung von entgeltlichen Rechtsgeschäften zwischen einem Vereinsmitglied und dem Verein auf Antrag des Vorstandes.</li>
								<li>Entlastung des Vorstands;</li>
								<li>Festsetzung der Höhe der Beitrittsgebühr und der Mitgliedsbeiträge;</li>
								<li>Verleihung der Ehrenmitgliedschaft; und Verleihung von Ehrentiteln;</li>
								<li>Beschlussfassung über eine Geschäftsordnung, wie deren Änderung;</li>
								<li>Entscheidungen über Berufungen gegen den Ausschluss von der Mitgliedschaft, falls das Schiedsgericht (<a href="#p15">§ 15</a>) innerhalb von 6 Wochen keine Entscheidung getroffen hat.</li>
								<li>Beschlussfassung über Statutenänderungen und die freiwillige Auflösung des Vereins;</li>
								<li>Beratung und Beschlussfassung über sonstige auf der Tagesordnung stehende Fragen.</li>
							</ol>
						</li>
					</ol>
				</div>
				<div class="txt">
					<header>
						<h2 id="p11">§ 11 Vorstand (Leitungsorgan)</h2>
					</header>
					<ol>
						<li>Der Vorstand setzt sich zusammen aus:
							<ol>
								<li>erstes Vorstandsmitglied,</li>
								<li>zweites Vorstandsmitglied und</li>
								<li>drittes Vorstandsmitglied.</li>
							</ol>
						</li>
						<li>Als Vertreter des ersten Vorstandsmitgliedes fungiert das zweite Vorstandsmitglied, ist dieses dazu nicht in der Lage, das dritte Vorstandsmitglied.</li>
						<li>Der Vorstand wird von der Vollversammlung gewählt. Der Vorstand hat bei Ausscheiden eines gewählten Mitgliedes das Recht, an seine Stelle ein anderes wählbares Mitglied zu kooptieren, wozu die nachträgliche Genehmigung in der nächstfolgenden Vollversammlung einzuholen ist. Fällt der Vorstand auf unvorhersehbare lange Zeit aufgrund eines Ausfalls seiner Mitglieder aus, wobei auch keine Kooptierung erfolgt ist, ist jeder Rechnungsprüfer verpflichtet, unverzüglich eine außerordentliche Vollversammlung zum Zweck der Neuwahl eines Vorstandes einzuberufen. Sollten auch die Rechnungsprüfer handlungsunfähig oder nicht vorhanden sein, hat jedes ordentliche Mitglied, das die Notsituation erkennt, unverzüglich die Bestellung eines Kurators beim Bezirksgericht Wien Innere Stadt zu beantragen, der umgehend eine außerordentliche Vollversammlung einzuberufen hat.</li>
						<li>Die Funktionsdauer des Vorstandes beträgt 15 Monate, sie endet aber jedenfalls mit der Wahl eines neuen Vorstandes. Die wiederholte Wiederwahl eines Vorstandsmitgliedes ist möglich. Sollte der Abstand zwischen zwei Vollversammlungen größer als 15 Monate sein, so verlängert sich die Funktionsdauer bis zur nächsten Vollversammlung.</li>
						<li>Vorstandssitzungen können von jedem Vorstandsmitglied einberufen werden. Die Einberufung hat unter Einhaltung einer mindestens einwöchigen Frist und der Bekanntgabe der Tagesordnung zu erfolgen. Einberufungen haben schriftlich (analoger Brief oder OpenPGP-signiertes E-Mail) zu erfolgen.</li>
						<li>Vorstandssitzungen können über jedes geeignete Kommunikationsmittel abgehalten werden; was ein geeignetes Kommunikationsmittel ist, entscheidet der Vorstand einstimmig.</li>
						<li>Die Leitung der Vorstandssitzung obliegt dem ersten Vorstandsmitglied, bei dessen Verhinderung dem zweiten Vorstandsmitglied.</li>
						<li>Der Vorstand ist beschlussfähig, wenn alle seine Mitglieder sowie die Rechnungsprüfer eingeladen wurden und mindestens zwei Vorstandsmitglieder anwesend sind.</li>
						<li>Der Vorstand fasst seine Beschlüsse mit einfacher Stimmenmehrheit. Bei Stimmengleichheit entscheidet die Stimme des die Sitzung leitenden Vorstandsmitgliedes.</li>
						<li>Den Vorstandsmitgliedern ist der Abschluss von entgeltlichen Rechtsgeschäften mit dem Verein untersagt.</li>
						<li>Außer durch Tod beziehungsweise Ablauf der Funktionsperiode erlischt die Funktion eines Vorstandsmitgliedes durch Enthebung und Rücktritt sowie durch Verlust der Vereinsmitgliedschaft (<a href="#p5">§ 5</a> Abs 3): Die Vollversammlung kann jederzeit den gesamten Vorstand oder einzelne seiner Mitglieder entheben. Die Enthebung tritt mit der Bestellung des neuen Vorstandes bzw. Vorstandsmitgliedes in Kraft. Die Vorstandsmitglieder können jederzeit schriftlich (analoger Brief oder OpenPGP-signiertes Email) ihren Rücktritt erklären. Die Rücktrittserklärung ist an den Vorstand, im Falle des Rücktritts des gesamten Vorstandes an die Vollversammlung zu richten. Der Rücktritt ist erst mit Wahl bzw. Kooptierung (<a href="#p11">§ 11</a> Abs 3) eines Nachfolgers wirksam.</li>
					</ol>
				</div>
				<div class="txt">
					<header>
						<h2 id="p12">§ 12 Aufgaben des Vorstandes</h2>
					</header>
					<ol>
						<li>Dem Vorstand obliegt die Leitung des Vereins. Ihm kommen alle Aufgaben zu, die nicht durch die Statuten einem anderen Vereinsorgan zugewiesen sind. In seinen Wirkungsbereich fallen insbesondere folgende Angelegenheiten:
							<ol>
								<li>Erstellung des Jahresvoranschlages und des Rechnungsabschlusses;</li>
								<li>Vorbereitung der Vollversammlung;</li>
								<li>Einberufung der ordentlichen und der außerordentlichen Vollversammlung;</li>
								<li>Verwaltung des Vereinsvermögens;</li>
								<li>Aufnahme und Kündigung von Dienstnehmern des Vereins;</li>
								<li>Abschluss von Werk- und Dienstleistungsverträgen mit natürlichen und juristischen Personen;</li>
								<li>Verhandlungen mit Ämtern und Behörden;</li>
								<li>Umsetzung der von den anderen Vereinsorganen gefassten Beschlüsse;</li>
								<li>Die Organisation, Durchführung und Überwachung der dem Vereinszweck dienenden Aktivitäten.</li>
							</ol>
						</li>
					</ol>
				</div>
				<div class="txt">
					<header>
						<h2 id="p13">§ 13 Besondere Aufgaben einzelner Vorstandsmitglieder</h2>
					</header>
					<ol>
						<li>Sowohl für die Geschäftsführung als auch die Vertretung des Vereins nach außen gilt im Vorstand das 4-Augen-Prinzip. Bei der Vertretung des Vereins nach außen kann sich jedes Vorstandsmitglied jederzeit von einem anderen Vorstandsmitglied vertreten lassen. Zur passiven Vertretung des Vereins ist jedes Vorstandsmitglied allein berechtigt.</li>
						<li>Schriftliche Ausfertigungen von Dokumenten des Vereins, insbesondere den Verein verpflichtende Urkunden, bedürfen zu ihrer Wirksamkeit der Unterschriften zweier Vorstandsmitglieder.</li>
					</ol>
				</div>
				<div class="txt">
					<header>
						<h2 id="p14">§ 14 Rechnungsprüfer</h2>
					</header>
					<ol>
						<li>Die zwei Rechnungsprüfer werden von der Vollversammlung für die Dauer von 15 Monaten gewählt. Die Funktionsperiode endet aber jedenfalls mit der Wahl neuer Rechnungsprüfer. Eine Wiederwahl ist möglich.</li>
						<li>Den Rechnungsprüfern obliegt die laufende Geschäftskontrolle und die Überprüfung des Rechnungsabschlusses. Sie haben der Vollversammlung über das Ergebnis der Überprüfung zu berichten.</li>
						<li>Im Übrigen gelten für die Rechnungsprüfer die Bestimmungen über die Bestellung, die Abwahl und den Rücktritt der Vorstandsmitglieder sinngemäß.</li>
					</ol>
				</div>
				<div class="txt">
					<header>
						<h2 id="p15">§ 15 Schiedsgericht</h2>
					</header>
					<ol>
						<li>Zur Schlichtung von allen in den Angelegenheiten des Vereins entstehenden Streitigkeiten ist das vereinsinterne Schiedsgericht berufen. Es ist eine Schlichtungseinrichtung im Sinne des Vereinsgesetzes 2002, aber kein Schiedsgericht im Sinne der §§ 577 ff der Zivilprozessordnung.</li>
						<li>Das Schiedsgericht setzt sich aus fünf Vereinsmitgliedern zusammen, die natürliche Personen sein müssen.</li>
						<li>Das Schiedsgericht wird auf folgende Weise gebildet:
							<ol>
								<li>Ein Streitteil bzw. im Fall des Ausschlusses das vom Vorstand ausgeschlossene Mitglied nominiert gegenüber dem Vorstand zwei Mitglieder als Schiedsrichter.</li>
								<li>Der Vorstand hat dann binnen sieben Tagen den anderen Streitteil aufzufordern, seinerseits innerhalb von weiteren zwei Wochen ab Erhalt der Aufforderung zwei Mitglieder des Schiedsgerichtes zu nominieren.</li>
								<li>Die so ernannten vier Schiedsrichter haben innerhalb von zwei Wochen ein fünftes Vereinsmitglied zu ernennen, das dem Schiedsgericht vorsteht.</li>
								<li>Jedes Vereinsmitglied hat das Recht, eine Nominierung als Schiedsrichter ohne Angaben von Gründen abzulehnen.</li>
								<li>Das Schiedsgericht fällt seine Entscheidungen bei Anwesenheit aller seiner Mitglieder mit einfacher Mehrheit der abgegebenen gültigen Stimmen. Alle anderen Vereinsmitglieder sind berechtigt, im Zuge des Entscheidungsfindungsprozesses eine Stellungnahme abzugeben. Das Schiedsgericht entscheidet dann nach bestem Wissen und Gewissen. Seine Entscheidungen sind vereinsintern endgültig.</li>
							</ol>
						</li>
					</ol>
				</div>
				<div class="txt">
					<header>
						<h2 id="p16">§ 16 Auflösung des Vereins</h2>
					</header>
					<ol>
						<li>Die freiwillige Auflösung des Vereins kann nur in einer zu diesem Zweck einberufenen außerordentlichen Vollversammlung und nur mit einer Mehrheit von zwei Drittel der abgegebenen gültigen Stimmen beschlossen werden. Eine Stimmenthaltung ist keine gültige Stimme.</li>
						<li>Das Schiedsgericht setzt sich aus fünf Vereinsmitgliedern zusammen, die natürliche Personen sein müssen.</li>
						<li>Diese Vollversammlung hat auch, sofern Vereinsvermögen vorhanden ist, über die Liquidation zu beschließen. Insbesondere hat sie einen Liquidator zu berufen und Beschluss darüber zu fassen, wem dieser das nach Abdeckung der Passiva verbleibende Vereinsvermögen zu übertragen hat.</li>
						<li>Bei Auflösung des Vereins oder Wegfall des bisherigen begünstigten Vereinszweckes ist das verbleibende Vereinsvermögen für im Sinne der <a href="http://www.ris.bka.gv.at/">§§ 34 ff BAO</a> begünstigte Zwecke auf dem Gebiet der Entwicklung und Verbreitung von Freier Software zu verwenden. Es soll, soweit möglich, einer Organisation zufallen, die gleiche oder ähnliche Zwecke wie der Verein verfolgt; falls das aber nicht möglich ist, soll es Zwecken der Sozialhilfe zugeführt werden.</li>
						<li>Der letzte Vereinsvorstand hat die freiwillige Auflösung binnen vier Wochen nach Beschlussfassung der zuständigen Vereinsbehörde schriftlich anzuzeigen.</li>
					</ol>
				</div>
			</section>
{% endblock content %}
