{% extends "base.html" %}
{% load static %}

{% block content %}

			<section>
				<header>
					<h1>Tipps &amp; Tricks</h1>
				</header>
				<div class="txt">
					<header>
						<h2>Bedienung der freie.it-Suche</h2>
					</header>
					<p>Zum Auffinden von für Ihren Bedarf passenden Fachkräften empfehlen wir unsere <a href="index.htm">Schlagwortsuche</a> im orangen Balken am Seitenkopf unserer Startseite. Bevor Sie irgendwelche Schlagwörter eingeben, sind darunter (ungefiltert) alle verfügbaren Fachkräfte angezeigt.</p>
					<p>Tippen Sie einfach zu Ihrem Thema passende Schlagworte in das Suchfeld ein! Nachdem Sie das Formular durch Klick auf die Lupe (oder durch Pressen der Return-Taste) abgesendet haben, werden darunter alle zu Ihren Eingaben passenden Fachkräfte gelistet.</p>
					<p>Falls Sie nicht sicher sind welche Begriffe Ihnen gute Suchergebnisse liefern könnten, stehen unter dem Eingabefeld einige Suchvorschläge, die Sie alternativ dazu anklicken können um die Liste auf für Ihre Situation relevante Ergebnisse einzuschränken.</p>
					<p>Falls es Ihnen nicht möglich ist mit für Ihre Situation relevanten Suchbegriffen passende Fachkräfte zu finden, können Sie zum Beispiel jene Personen kontaktieren, deren Tätigkeitsfelder noch am ehesten passen. Alternativ dazu hilft vielleicht auch beschreibendes E-Mail an <a href="mailto:info@freie.it">info@freie.it</a>. Eventuell können wir für Sie Fachkräfte finden, die Ihnen helfen können. Bitte erwarten Sie aber nicht, dass wir rund um die Uhr sofort antworten können weil wir freie.it ehrenamtlichen in unserer Freizeit betreiben.</p>
				</div>
				<div class="txt">
					<header>
						<h2>Externe Foren</h2>
					</header>
					<p>Für Freie Software gibt es zahlreiche Foren und auch andere Webseiten, auf denen Sie viele Möglichkeiten haben Hilfe zu finden. In der Regel wird vorausgesetzt, dass Sie bereits über eine Suchmaschine und/oder Forensuche nach bereits vorhandenen Lösungsansätzen gesucht haben. Bitte verstehen Sie, dass Sie beim Stellen von Fragen, deren Lösungen schon vielerorts im Web publiziert sind, oft auf Menschen treffen werden, die eher ungeduldig auf Ihre Frage reagieren! Sie sollten sich in jedem Fall vor einer Frage in einem Forum zuerst selbst auf die Suche nach Lösungen machen, da auch die gutmütigsten Menschen irgendwann frustriert werden, wenn sie immer wieder die selben Fragen beantworten sollen obwohl sie mit ein Wenig Umsicht leicht selbständig gelöst werden könnten.</p>
					<p>In fast allen Foren helfen Freiwillige in ihrer Freizeit. Sie haben also keinerlei Recht darauf, dass sich irgendeine Person Ihrer Frage annimmt. Falls Sie auch nach längerer Zeit keine Antwort erhalten, versuchen Sie nicht eine Antwort zu erzwingen indem Sie Ihre Frage mehrfach in verschiedene Themen verteilen! Das wird als Spam empfunden und kann zu Ihrem Ausschluss aus dem jeweiligen Forum führen.</p>
					<p>Die häufigsten Gründe keine Antwort zu erhalten sind, dass entweder Ihre Frage zu allgemein war um eine sinnvolle Antwort darauf geben zu können oder dass tatsächlich niemand von den Personen, die die Frage bisher gesehen haben, eine Idee für eine Antwort hatte.</p>
					<p>Falls Ihnen davor graut im Internet nach Lösungen zu suchen, sollten Sie eher Menschen engagieren, die bereit sind Ihnen diese Arbeit gegen ein Honorar abzunehmen.</p>
				</div>
				<div class="txt">
					<header>
						<h2>Software Handbücher</h2>
					</header>
					<p>Oft wird auch in Foren auf das <em>Manual</em> zu ihrer Software verwiesen. Obwohl die Dokumentation von Freier Software eine ihrer unangefochtenen Stärken ist, stellen vor allem umfangreichere Programme entsprechend umfassende Dokumentationen zur Verfügung. Strukturbedingt ist es nicht immer leicht darin jene Optionen zu finden, die Sie gerade brauchen würden. Im Besonderen gestaltet sich die Suche im Handbuch schwierig, wenn Sie keine Ahnung haben welche Befehle und Optionen existieren bzw. wie sie heißen könnten.</p>
				</div>
			</section>
{% endblock content %}
