{% extends "base.html" %}
{% load static %}

{% block content %}

			<section>
				<h1>Tipps &amp; Tricks</h1>
				<div class="txt">
					<h2>Bedienung der freie.it-Suche</h2>
					<p>Zum Auffinden von für deinen Bedarf passende Fachkräfte empfehlen wir unsere <a href="/">Schlagwortsuche</a> im orangen Balken am Seitenkopf unserer Startseite. Bevor du irgendwelche Schlagwörter eingibst, sind darunter (ungefiltert) alle verfügbaren Fachkräfte angezeigt.</p>
					<p>Tippe einfach zu deinem Thema passende Schlagworte in das Suchfeld ein! Nachdem du das Formular durch Klick auf die Lupe (oder durch Pressen der Return-Taste) abgesendet hast, werden darunter alle zu deinen Eingaben passenden Fachkräfte gelistet.</p>
					<p>Falls du nicht sicher bist welche Begriffe dir gute Suchergebnisse liefern könnten, stehen unter dem Eingabefeld einige Suchvorschläge, die du alternativ dazu anklicken kannst um die Liste auf für deine Situation relevante Ergebnisse einzuschränken.</p>
					<p>Falls es dir nicht möglich ist mit für deine Situation relevanten Suchbegriffen passende Fachkräfte zu finden, kannst du zum Beispiel jene Personen kontaktieren, deren Tätigkeitsfelder noch am ehesten passen. Alternativ dazu hilft vielleicht auch beschreibendes E-Mail an <a href="mailto:info@freie.it">info@freie.it</a>. Eventuell können wir für dich Fachkräfte finden, die dir helfen können. Bitte erwarte aber nicht, dass wir rund um die Uhr sofort antworten können weil wir freie.it ehrenamtlichen in unserer Freizeit betreiben.</p>
				</div>
				<div class="txt">
					<h2>Angaben zu Supportkosten</h2>
					<p>Die Angabe von Stundensätzen für Support ist meist irreführend. Weniger kundige Fachleute verrechnen zwar vielleicht einen geringeren Stundensatz, brauchen aber dafür meist länger, bieten schlechtere Lösungen oder scheitern überhaupt. Kosten können seriöse Fachleute immer erst anhand einer konkreten Aufgabenstellung und Situation einschätzen.</p>
					<p>Bitte verstehe daher, dass viele Fachleute es vorziehen keine pauschalen Stundensätze anzugeben. Eine Anfrage verpflichtet Dich zu nichts und so lange du die Anforderungen einigermaßen sinnvoll vermitteln kannst, werden Kostenschätzungen anhand dieser zusätzlichen Informationen eine wesentlich bessere Entscheidungsgrundlage für Dich sein können.</p>
				</div>
				<div class="txt">
					<h2>Proprietäre Software</h2>
					<p>Uns ist klar, dass nicht nur Menschen, die Freie Software einsetzen, Support suchen. Weil wir aber davon überzeugt sind, dass es allgemein unvorteilhaft ist proprietäre (= unfreie) Software einzusetzen, haben wir uns dazu entschlossen auf freie.it keine Support-Angebote für proprietäre Software zu veröffentlichen.</p>
					<p>Wir sind der Auffassung, dass alle nötigen Aufgaben letztlich auch mit Freier Software erfüllt werden können. Unsere Fachkräfte freuen sich dir bei der Erfüllung deiner Anforderungen mit freier Software zu helfen, wenn du mit deinem proprietären Programmen Schwierigkeiten hast. Aber bitte erwarte nicht von unseren Fachkräften dir dabei zu helfen mit unfreier Software klar zu kommen!</p>
					<p>Aus unserer Sicht hat die proprietäre Herangehensweise unlösbare Grundsatzprobleme und es lohnt sich daher nicht unsere Zeit damit zu verschwenden. Je eher wir auf freie Lösungen umsteigen, umso besser ist es langfristig für uns alle. Selbst in Bereichen, in denen die zur Verfügung stehenden freien Programme noch unkomfortabler als ihrer proprietären Gegenstücke sind.</p>
				</div>
				<div class="txt">
					<h2>Externe Foren</h2>
					<p>Für Freie Software gibt es zahlreiche Foren und auch andere Webseiten, auf denen du viele Möglichkeiten hast Hilfe zu finden. In der Regel wird dort erwartet, dass du über eine Suchmaschine und/oder Forensuche nach bereits vorhandenen Lösungsansätzen gesucht hast, bevor du eine Frage stellst. Bitte verstehe, dass du beim Stellen von Fragen, deren Lösungen schon vielerorts im Web publiziert sind, oft auf Menschen treffen wist, die eher ungeduldig auf deine Frage reagieren! Du solltest dich in jedem Fall vor einer Frage in einem Forum zuerst selbst auf die Suche nach Lösungen machen, da auch die gutmütigsten Menschen irgendwann frustriert werden, wenn sie immer wieder die selben Fragen beantworten sollen obwohl sie mit ein Wenig Umsicht leicht selbständig gelöst werden könnten.</p>
					<p>In fast allen Foren helfen Freiwillige in ihrer Freizeit. Du hast also keinerlei Recht darauf, dass sich irgendeine Person deiner Frage annimmt. Falls du auch nach längerer Zeit keine Antwort erhälst, versuche nicht eine Antwort zu erzwingen indem du deine Frage mehrfach in verschiedene Themen verteilst! Das wird als Spam empfunden und kann zu deinem Ausschluss aus dem jeweiligen Forum führen.</p>
					<p>Die häufigsten Gründe keine Antwort zu erhalten sind, dass entweder deine Frage zu allgemein war, um eine sinnvolle Antwort darauf geben zu können oder dass tatsächlich niemand von den Personen, die die Frage bisher gesehen haben, eine Idee für eine Antwort hatte.</p>
					<p>Falls dir davor graut, im Internet nach Lösungen zu suchen, solltest du eher Menschen engagieren, die bereit sind dir diese Arbeit gegen ein Honorar abzunehmen.</p>
				</div>
				<div class="txt">
					<h2>Software Handbücher</h2>
					<p>Oft wird auch in Foren auf das <em>Manual</em> zu deiner Software verwiesen. Obwohl die Dokumentation von Freier Software eine ihrer unangefochtenen Stärken ist, stellen vor allem umfangreichere Programme entsprechend umfassende Dokumentationen zur Verfügung. Strukturbedingt ist es nicht immer leicht darin jene Optionen zu finden, die du gerade brauchen würdest. Im Besonderen gestaltet sich die Suche im Handbuch schwierig, wenn du keine Ahnung hast welche Befehle und Optionen existieren bzw. wie sie heißen könnten.</p>
				</div>
			</section>
{% endblock content %}
