{% extends "base.html" %}
{% load static %}


{% block content %}
{% for e in experts %}

<div>
  <div>
    <!--img src="{% get_media_prefix %}expert_images/b1.png" alt="Foto von Herrmann Kopic"/-->
    <img src="{{e.image.url}}" alt="Foto von {{e.name}}"/>
    <table>
      <tr>
        <th>Aufträge</th>
        <td>23</td>
      </tr>
      <tr>
        <th>Wertung</th>
        <td>+32</td>
      </tr>
    </table>
  </div>
  <header>
    <h2><a href="mailto:{{e.user.email}}" title="E-Mail senden">{{e.name}}</a> {{e.phone}}</h2>
  </header>
  <dl>
    <dt>Angebot</dt>
    <dd><strong>{{e.services}}</strong></dd>
    <dt>Dienstort</dt>
    <dd>{{e.location}}</dd>
    <dt>Zeit</dt>
    <dd>{{e.time}}</dd>
    <dt>Kosten</dt>
    <dd>{{e.charges}}</dd>
    <dt>Schlagworte</dt>
    <dd>{{ e.keywords.all|join:" " }}</dd>
  </dl>
</div>

{% endfor %}
{% endblock content %}

