{% extends "base.html" %}
{% load static %}
{% load url from future %}


{% block content %}

<section>

    <h2>{{ experts|length }} ExpertIn{{ experts|length|pluralize:"nen" }} {% if tag %}mit Schlagwort "{{ tag }}"{% endif %} gefunden</h2>
  <header>
    <form action="#" enctype="text/plain" method="post">
      <input type="text" name="suche" placeholder="Ergebnis über Schlagworte einschränken" value=""/>
      <input type="submit" value="&gt;"/>
    </form>
  </header>

  {% for e in experts %}

  <div>
    <div>
    <!--img src="{% get_media_prefix %}expert_images/b1.png" alt="Foto von Herrmann Kopic"/-->
      <img src="{{e.image.url}}" alt="Foto von {{e.name}}"/>
      <table>
        <tr>
          <th>Aufträge</th>
          <td>23</td>
        </tr>
        <tr>
          <th>Wertung</th>
          <td>+32</td>
        </tr>
      </table>
    </div>
    <header>
      <h2><a href="mailto:{{e.user.email}}" title="E-Mail senden">{{e.name}}</a> {{e.phone}}</h2>
    </header>
    <dl>
      <dt>Angebot</dt>
      <dd><strong>{{e.services}}</strong></dd>
      <dt>Dienstort</dt>
      <dd>{{e.location}}</dd>
      <dt>Zeit</dt>
      <dd>{{e.time}}</dd>
      <dt>Kosten</dt>
      <dd>{{e.charges}}</dd>
      <dt>Schlagworte</dt>
      <dd>{% for tag in e.keywords.all %}
      <a href=/tag/{{ tag }}>{{ tag }}</a> 
      {% endfor %}</dd>
    </dl>
  </div>

  {% endfor %}

  <nav>{% if page.current > 1 %}<a href="/{{ page.current|add:-1 }}">&lt;</a>{% endif %} Seite {{ page.current }}/{{ page.last }} {% if page.current < page.last %}<a href="/{{ page.current|add:1 }}">&gt;</a>{% endif %}</nav>

</section>

{% endblock content %}
