{% extends "base.html" %}
{% load static %}


{% block content %}

<section>

  <header>
    <h2>Geschäftsbedingungen</h2>
  </header>

  <div>
      Rule 1: The internet makes you stupid.<br />
      Rule 2: If it's funny, it came from 4chan or Something Awful.<br />
      Rule 3: If you are an idiot, you will be made fun of.<br />
      Rule 4: Nobody cares if you're tough in real life.<br />
      Rule 5: Anonymous does not forgive.<br />
      Rule 6: CAPS LOCK IS CRUISE CONTROL FOR COOL.<br />
      Rule 7: If it exists, you can buy it online somewhere.<br />
      Rule 8: It happened At least 100 years ago.<br />
      Rule 9: Brazilian girls will do it for 500 dollars.<br />
      Rule 10: It needs more DESU.<br />
      Rule 11: You will get viruses from downloading pornography.<br />
      Rule 12: Lurk moar.<br />
      Rule 13: It never needed any more cowbell.<br />
      Rule 14: As long as there is internet there will be drama.<br />
      Rule 15: If a camwhore posts, tits must be shown. If this rule is broken, said camwhore must GTFO.<br />
      Rule 16: You must enjoy your AIDS.<br />
      Rule 17: Pool's closed due to AIDS.<br />
      Rule 18: If someone is better than you, they are hacking.<br />
      Rule 19: Lens Flare makes masterpieces.<br />
      Rule 20: You're doing it wrong.<br />
      Rule 21: If your girlfriend ends in .jpg, she is not real.<br />
      Rule 22: Long stories are copypasta.<br />
      Rule 23: Long stories are never read, at any rate.<br />
      Rule 24: Pics or it never happened.<br />
      Rule 25: Everyone sees what you did there.<br />
      Rule 26: Nobody knows the answer to "What is love?".<br />
      Rule 27: Loli haets pizza. No exceptions.<br />
      Rule 28: It's awwriiigghht.<br />
      Rule 29: Do a barrel roll.<br />
      Rule 30: Everyone is gay for Bridget.<br />
      Rule 31: The internet is for porn.<br />
      Rule 32: Everything is a fetish. No exceptions.<br />
      Rule 33: It's a trap.<br />
      Rule 34: If it exists there is porn of it. No exceptions.<br />
      Rule 35 The exception to Rule 34 is the citation of Rule 34.<br />
      Rule 36: Bringing up Nazis is insta fail.<br />
      Rule 37: There are no girls on the internet....ever .<br />
      Rule 38: A cat is fine too.<br />
      Rule 39: One cat leads to another.<br />
      Rule 40: Ceiling cat is watching you fap.<br />
      Rule 41: Saturday is Caturday.<br />
      Rule 42: It is delicious cake. You must eat it.<br />
      Rule 43: Someone would fap to it.<br />
      Rule 44: Snape killed Dumbledore.<br />
      Rule 45: All lasers must be charged before shooping da whoop.<br />
      Rule 46: Nagas stole your bike.<br />
      Rule 47: It will always need moar sauce.<br />
      Rule 48: Anything can be a meme.<br />
      Rule 49: You need E-degrees in E-lawery and E-psychology to be an internet badass.<br />
      Rule 50: THE INTERNET IS SERIOUS BUSIN
  </div>

</section>

{% endblock content %}

